{{- if eq (include "scout.shouldDeploy" .) "true" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "container.security.name" . }}-scout-config
  labels:
    {{- include "scout.labels" . | nindent 4 }}
data:
  default_rules.yaml: |
    - rule: Dummy rule
      desc: A dummy rule
      condition: evt.type = setuid and (evt.num=0)
      output: none
      priority: NOTICE
  falco.yaml: |-
{{- /* default falco.yaml */}}
{{- $falcoConfig := (.Files.Get "config/falco.yaml" | fromYaml) }}

{{- /* 
make cri sockets list
    container_engines:
      cri:
        sockets:
        - /run/containerd/containerd.sock
        - /run/crio/crio.sock
        - /run/k3s/containerd/containerd.sock
*/ -}}
{{- $containerengines := dict "cri" (dict "sockets" list) }}
{{- with .Values.scout.falco -}}
{{- $sockets := list 
  (dict "path" "/run/cri/cri.sock" "enabled" (and .cri .cri.enabled))
  (dict "path" "/run/dockershim.sock" "enabled" (and .dockershim .dockershim.enabled))
  (dict "path" "/run/k0s/containerd.sock" "enabled" (and .k0s .k0s.enabled))
  (dict "path" "/run/k3s/containerd/containerd.sock" "enabled" (and .k3s .k3s.enabled))
  (dict "path" "/var/run/docker.sock" "enabled" (and .docker .docker.enabled))
  (dict "path" "/run/crio/crio.sock" "enabled" (and .crio .crio.enabled))
  (dict "path" "/run/containerd/containerd.sock" "enabled" (and .containerd .containerd.enabled))
 -}}

{{- range $sockets }}
{{- if .enabled }}
{{- $_ := set $containerengines.cri "sockets" (append $containerengines.cri.sockets .path) }}
{{- end }}
{{- end }}
{{- end }}

{{- /* override config */ -}}
{{- $overrideConfig := dict 
  "stdout_output" (dict "enabled" (default false .Values.scout.falco.stdout_enabled))
  "syslog_output" (dict "enabled" (default false .Values.scout.falco.syslog_enabled))
  "log_level" (include "logLevel" (list .Values.scout.falco.logLevel .))
  "container_engines" $containerengines
}}

{{- /* custom rules config */ -}}
{{- with .Values.visionOne.runtimeSecurity.customRules }}
{{- if .enabled }}
{{- /* 
    rules_files:
    ...
    - /etc/scout/rules.d/customrules.d
    - /etc/scout/rules.d/custom_rules_override.yaml
*/ -}}
{{- $customruleFiles := list }}
{{- if and .ociRepository.enabled .ociRepository.ruleFiles }}
{{- range .ociRepository.ruleFiles }}
{{- $customruleFiles = append $customruleFiles (printf "/etc/scout/rules.d/customrules.d/%s" .) }}
{{- end }}
{{- end }}

{{- if not $customruleFiles }}
{{- $customruleFiles = append $customruleFiles "/etc/scout/rules.d/customrules.d" }}
{{- end }}
{{- $customruleFiles = append $customruleFiles "/etc/scout/rules.d/custom_rules_override.yaml" }}

{{- $_ := set $overrideConfig "rules_files" (concat $falcoConfig.rules_files $customruleFiles) }}

{{- /*
    ruleset_tags:
    - customrule
*/ -}}
{{- $_ := set $overrideConfig "ruleset_tags" (list .rulesetTag) }}

{{- end }}{{/*if .enabled*/}}
{{- end }}{{/*with customRules*/}}

{{- /* 
  Congfiguration for sensitive data redaction
  sanitizer_output:
    enabled: true
    patterns:
      proc.pcmdline: (?<=--process\s)\s?(\S+)|(?<=--root\s)\s?(\S+)
      fd.sip: (?<=169\.254\.)(\S+) 
*/ -}}
{{- if .Values.scout.falco.sanitizer_output.enabled }}
{{- if .Values.scout.falco.sanitizer_output.patterns }}
{{- $_ := set $overrideConfig "sanitizer_output" (dict "enabled" true "patterns" .Values.scout.falco.sanitizer_output.patterns) }}
{{- else }}
{{- fail "Redaction pattern is required if output sanitizer is enabled." }}
{{- end }}
{{- end }}

{{- /* extra config */ -}}
{{- if .Values.scout.falco.config }}
{{ $overrideConfig = mergeOverwrite $overrideConfig .Values.scout.falco.config }}
{{- end -}}
{{ toYaml (mergeOverwrite $falcoConfig $overrideConfig) | nindent 4 }}
{{- end }}