{{- if and .Values.visionOne.runtimeSecurity.enabled (eq (include "customRules.enabled" .) "true") }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "container.security.name" . }}-runtime-ruleloader
  labels:
    {{- include "runtimeRuleloader.labels" . | nindent 4 }}
data:
  falcoctl.yaml: |
    registry:
      creds:
         config: /root/.docker/config.json
    artifact:
      follow:
        rulesfilesdir: /rules/install
        tmpdir: /rules/tmp
        falcoversions: file:///versions.json
{{- with .Values.visionOne.runtimeSecurity.customRules -}}
      {{- if .ociRepository.enabled }}
        every: {{ .ociRepository.every }}
        refs:
        {{- with .ociRepository.artifactUrls }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
{{- end }}
{{- end }}