{{- if and .Values.auditLogCollection.enabled (eq .Values.auditLogCollection.provider "gardener") .Values.auditLogCollection.gardener.seedCluster }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "container.security.name" . }}-audit-webhook-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "apiServerModifier.labels" . | nindent 4 }}
type: Opaque
stringData:
  audit-webhook-config.yaml: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: falco
      cluster:
        server: http://trendmicro-audit-log-collector:{{ .Values.visionOne.auditLogCollector.webhookPort }}/k8s-audit
    contexts:
    - context:
        cluster: falco
        user: ""
      name: default-context
    current-context: default-context
    preferences: {}
    users: []
{{- end }}
