{{- if and .Values.auditLogCollection.enabled (eq .Values.auditLogCollection.provider "gardener") .Values.auditLogCollection.gardener.seedCluster }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "container.security.name" . }}-audit-policy
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "apiServerModifier.labels" . | nindent 4 }}
data:
  audit-policy.yaml: |
    apiVersion: audit.k8s.io/v1
    kind: Policy
    rules:
      # Log all requests to the SubjectAccessReview APIs (used in RBAC authorization checks)
      - level: Metadata
        verbs: ["create"]
        resources:
          - group: "authorization.k8s.io"
            resources: ["subjectaccessreviews", "selfsubjectaccessreviews", "localsubjectaccessreviews"]

      # Log requests to RBAC resources: roles, rolebindings, clusterroles, etc.
      - level: RequestResponse
        verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
        resources:
          - group: "rbac.authorization.k8s.io"
            resources: ["roles", "rolebindings", "clusterroles", "clusterrolebindings"]

      # Optional: log changes to serviceaccounts (often used in RBAC bindings)
      - level: Metadata
        verbs: ["create", "update", "delete"]
        resources:
          - group: ""
            resources: ["serviceaccounts"]

      # Drop all other audit logs
      - level: None
{{- end }}
